.messages {
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
  border-radius: 10px;
}
.msgheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.msgbody {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.msgfooter {
  display: flex;
  flex-direction: column;
  align-items: center;
}
