* {
  margin: 0;
   
}
.nav{
    display: flex;
    flex-direction: row;
    margin-left: 30px;
    
}
.logotext>h2{
    margin-left: 30;
}
.navigation {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
 
}
.spacelist {
  margin-left: 20px;
  border: 1px solid lightgray;
  padding: 5px;
  text-decoration: none;
}
.spacelist:hover{
    background-color: lightskyblue;
}
.sportslay{
    text-align: start;
    justify-content: left;
    align-content: flex-start;
}