* {
  margin: 0;
}
/* desktop view */
.post {
  display: flex;  
   justify-content: center;
  border: 1px solid lightgray;
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.freetip{
  border: 1px solid lightgray;
  border-bottom: 2px solid lightgray;
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.tips_form {
  display: flex;
  align-content: center;
  text-align: center;
  justify-content: center;
  margin: 10px ;
}
.countrytips {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid lightgray;
}
.timestamp{
  border-top: 1px solid lightgray;
  font-size: 12px; 
   
}
.footfree{
  margin: 5px;
  align-items: center;
  justify-content: center;
  border-top: 1px solid lightgrey;
}
 
.tips_image {
  border: 1px solid white;
  border-radius: 50px;
  object-fit: contain;
  align-items: center;
  align-content: center;
  width: 60px;
  justify-content: center;
  height: 60px;
  margin: 10px;
}
.post_image {
  margin-top: 5px;
  max-width: 500px;
  justify-content: center;
  max-height: 300px;

  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}
.time_tips {
  margin-top: 20px;
  margin-left: 5px;
  justify-content: space-evenly;
}
/* mobile view  */
@media screen and (max-width: 768px){

}