.tipsform {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  max-width: 550px; 
  min-width: 200px;
  align-items: center; 
  justify-content: center;
}
.headertips {
  display: flex;
}
.country {
   display: flex;
}

.teams_tips {
  display: flex;
}
.timeandtip {
   
}
.post__avatar {
  margin: 5px;
  padding: 15px;
}
.post_button {
   
  
}
.imagepost > img{
   height: 150px ;
   width: 150px;
   
}