.tipsform {
  display: flex;
  margin-left: 20px;
  max-width: 550px;
  border: 5px solid lightslategray;
  background-color: rgb(5, 51, 53);
  align-items: center;
  align-content: center;
}
.headertips {
  display: flex;
}
.country {
  max-width: 100%;
}

.teams_tips {
  display: flex;
}
.timeandtip {
  display: flex;
  flex-direction: column;
}
.post__avatar {
  margin: 5px;
  padding: 15px;
}
.post_button {
  margin-top: 40px;
  background-color: white;
  size: 25px;
  
}
.imagepost > img{
   height: 150px ;
   width: 150px;
   
}